<section class="card">
  <div class="card-body bg-dark">
    <h1 class="">About</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quae corporis error molestiae ea inventore doloremque quis sed, dolores voluptas?</p>
  </div>
</section>