<div class="jumbotron">
    <h1 class="display-3">m e m o</h1>
    <h2>NodeJs and MongoDB notes app</h2>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eum animi facilis quibusdam necessitatibus nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, beatae.</p>

    <!-- CREAR UNA NUEVA NOTA - VER LA RUTA --> 
    <a href="/notes/add" class="btn btn-danger btn-lg w-25 my-5">Click!</a>
</div>

