<!-- MAIN NAV MENU -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><i class="fas fa-book-open mr-2"></i>m e m o</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      {{!-- Permitir la vista si el usario esta autentificado / 'user' es la variable que guarda la sesion con passport - ver middlewares en 'server.js' --}}
    </ul>
    {{#if user}}
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notes</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/notes">All My Notes</a>
            <a class="dropdown-item" href="/notes/add">Add New Note</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
      </li>
    </ul>
    {{/if}}
{{!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
    {{!-- Si el usuario no esta loggeado --}}
    {{#unless user}}
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a href="/users/signin" class="nav-link"><i class="fas fa-user mr-2"></i>Login</a>
      </li>
      <li class="nav-item">
        <a href="/users/signup" class="nav-link"><i class="far fa-user mr-2"></i>Register</a>
      </li>
    </ul>
    {{/unless}}
  
  </div>
  </div>
</nav>