<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Note</h3>
    </div>
    <div class="card-body">
      
      <form action="/notes/edit/{{note._id}}?_method=PUT" method="POST">
        {{!-- method-override para el Put  --}}
        <input type="hidden" name="_method" value="PUT">
        
        <div class="form-group">
          {{!-- handlebar: get note object --}}
          <input type="text" name="title" id="title" class="form-control" value="{{note.title}}" autofocus autocomplete="off">
        </div>
        <div class="form-group">
          <textarea name="description" id="description" class="form-control" rows="5">{{note.description}}</textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- METODOS PUT O EDIT NO ES FACIL CON FORMULARIOS - USAMOS metodo-override (dependencias) - PARA PETICIONES DE ESTE TIPO --> VER server.js  --}}