<div class="col-md-4 mx-auto">
  <div class="card tex-center">
    <div class="card-header">
      <h3>NEW NOTE</h3>
    </div>
    <div class="card-body">
      <!-- METODO POST Y LA RUTA -->
      <form action="/notes/new-note" method="POST">
        <div class="form-group">
          <input type="text" name="title" id="title" class="form-control" placeholder="Note Title" autofocus autocomplete="off"> 
        </div>
        <div class="form-group">
           <textarea name="description" id="description" class="form-control" rows="5"> </textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>