<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        Sign In
      </div>
      
      <div class= "mx-auto mt-4">
        <img src="/img/user.png" width="40%" height="50%" class="rounded-circle">
      </div>

      <div class="card-body">
        <form action="/users/signin" method="POST">

          <div class="form-group">
            <input type="email" class="form-control" name="email" id="" placeholder="Email..." >
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="" placeholder="Password...">
          </div>

          <button type="submit" class="btn btn-danger btn-block">Enter</button>
        </form>
      </div>
    </div>
  </div>
</div>