<div class="row">
  <div class="col-md-5 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        Register Account      

      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="" value="{{name}}" placeholder="Name..." autofocus autocomplete="off">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="" value="{{email}}" placeholder="Email..." >
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="" placeholder="Password...">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" id="" placeholder="Confirm Password...">
          </div>
          <button type="submit" class="btn btn-danger btn-block">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>